@import url("https://chinese-fonts-cdn.deno.dev/packages/syst/dist/SourceHanSerifCN/result.css");

*{
    font-family: "Source Han Serif CN VF";
}

body {
  overflow: scroll;
}

mdui-layout-main {
  margin-left: 2em;
  margin-right: 2em;
}

p {
  font-size: 2vh;
}

h1 {
  font-size: 10vh;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.header h1 {
  background: -webkit-linear-gradient(
    135deg,
    #08dfb4,
    #ff6ac6 25%,
    #661496 50%,
    #e6d205 55%,
    #2cc4e0 60%,
    #8b2ce0 80%,
    #ff6384 95%,
    #08dfb4
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  animation: header_title_animation 12s infinite linear;
}

@keyframes header_title_animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -400% 0;
  }
}

h1:hover {
  animation: header_title_animation 8s infinite linear;
}

h2 {
  font-size: 6vh;
}

.footer {
  width: auto;
  height:2vh
}

.footer h3{
  text-align: center;
  width: 100%;
}

.header {
  margin: auto;
}

.header .desc {
  width: 75%;
  text-align: left;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;
    text-align: left;
  }

  .header-mover {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
  }

  .header .desc {
    width: 75%;
    text-align: left;
  }
}
